/* Add your CSS to this file */


body{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    border: 6px solid #fbfbfd; 
     
    margin: 8px; 
    padding: 0px;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
}

/* Header Styles */

header .container{
    margin: 0 190px 0 190px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1{
        font-size: 18px;
        display: flex;
        justify-content: left;

    }
    & ul{
        font-size: 18px;
        display: flex;
        list-style: none;
        gap: 20px;
        justify-content: right;
        color: #6b7280;

        & li a{
            text-decoration: none;
            color: #6b7280;}

        & li a:hover{
            color: #5A67D8;
            text-decoration: none;
        }
    }
    
    

    hover{
        color: #5A67D8;
    }

        
}

/* Overview Hero Styles */
.overview-hero .container{
    
    background-color: #E2E8F0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    & .overview-hero-image{
        float: left;
        margin-right: 20px;
        background-image: none;
        & img{
            width: 160px;
            height: 160px;
            
        }
    }

    & .overview-hero-text{
        max-width: 600px;
        
    }
}


/* learn-about section styles */
.learn-about .container{
    padding: 20px;
    margin: 0 190px 0 190px;
    

    & h2{
        font-size: 24px;
        color:#48BB78;
    }

    & h3{
    font-size: 21px;
    color: #48BB78;
    }
    
    & .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    & .card{
        border: 1px solid #E2E8F0;
        border-radius: 5px;
        border-color: #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 20px;
        max-width: 300px;
        & img{
            height: 200px;
            width: 300px;
            
            
        }
    }
}

/* testing */
.testing .container{
    background-color: #4A5568;
    color: white;
    padding: 0 210px 0 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    
    & .testing-desciption{
        display: flex;
        justify-content: left;
        flex-direction: column;
        margin: 40px 0 40px 0;
    }

    & .cta {
        background-color: #48BB78;
        border: 5px;
        border-radius: 5px;
        padding: 5px 40px;
        
        & a{
            white-space: nowrap;
            text-decoration: none;
        }
        
        

       
    }

}

/* stories */
.stories .container{
    margin: 0 190px 0 190px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & article{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 20px;

        & img{
            width: 160px;
            height: 160px;
            border-radius: 80%;
        }
    }
    & h2{
        display: flex;
        justify-content: left;
        color: #5A67D8;
    }

    & p a{
        color: #5A67D8;
        text-decoration: none;
    }

    & .article-body h3{
        font-size: 18px;;
    }
}


/*newsletter*/
.newsletter .container{
    background-color: #48BB78;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p{
        margin: 18px 500px 18px 500px;

    }
    
    & form{
        display: flex;
        gap: 5px;

        & .form-group input{
            padding: 12px 14px;
            font-size: 18px;
            min-width: 260px;
        }
        & .btn{
            background-color: #5A67D8;
            float: right;
            border-radius: 5px;
            min-width: 140px
            
        }
    }

   

}

/* footer */
footer .container{
    background-color: #4A5568;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px 0 210px;
}