/* Add your CSS to this file */

/* Header Styles */

header .container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1{
        display: flex;
        justify-content: left;
    }
    & ul{
        display: flex;
        list-style: none;
        gap: 20px;
        justify-content: right;
    }
}

/* Overview Hero Styles */
.overview-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    & .overview-hero-image{
        float: left;
        margin-right: 20px;
        background-image: none;
        & img{
            width: 160px;
            height: 160px;
            
        }
    }

    & .overview-hero-text{
        max-width: 600px;
        & h2{
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        & p{
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }
}


/* learn-about section styles */
.learn-about .container{
    padding: 20px;
    
    & .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    & .card{
        border: 1px solid #E2E8F0;
        border-radius: 5px;
        border-color: #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 20px;
    }
}

/* testing */
.testing .container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    & .testing-desciption{
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    & .cta{
        background-color: #48BB78;
        border: 1px solid #48BB78;
        border-radius: 5px;
        padding: 10px;
        margin: 100px 50px;

       
    }

}

/* stories */
.stories .container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & h2{
        display: flex;
        justify-content: left;
    }
}


/*newsletter*/
.newsletter .container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & form{
        display: flex;
        gap: 20px;
        & .btn{
            float: right;
        }
    }

}

/* footer */
footer .container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}