/* Add your CSS to this file */
body{
    margin: 0;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}



/*header and links*/
h1{
    font-size: 18px;
}

h2{
    font-size: 24px;
    color: #48BB78;
}

h3{
    font-size: 21px;
    color: #48BB78;
}

li{
    font-size: 18px;
    color: #6b7280;
}

.stories h2{
    font-size: 18px;
    color: #5A67D8;
}

.stories p a{
    font-size: 18px;
    color: #5A67D8;
}



/*section styles*/

.overview-hero{
    background-color: #E2E8F0;
}

.testing{
    background-color: #4A5568;
    color: white;
}

.newsletter{
    background-color: #48BB78;
    color: white;
}






/*in detail section styles*/
.card{
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    border-color: #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.cta{
    background-color: #48BB78;
    border: 1px solid #48BB78;
    border-radius: 5px;
    padding: 10px;
    margin: 100px 50px;
}

.btn{
    background-color: #5A67D8;
}



/*layout styles*/
.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header{
    background-color: white;
    grid-area: header;
    padding: 10px 0;
}

main{ 
    grid-area: main;
}

footer{
    background-color: #4A5568;
    color: white;
    grid-area: footer;
    padding: 10px 0;
}

